body, html {
	background-color: #111216;
	height: 100%;
	width: 100%;
	margin: 0;
}

#main {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: url('gfx/background.png')
}

@font-face{
	font-family: 'FreeUniversal';
	src: url('fonts/FreeUniversal-Regular-edited.ttf') format('truetype');
}

@font-face{
	font-family: 'Cinzel';
	src: url('fonts/Cinzel-Regular.ttf') format('truetype');
}

@font-face{
	font-family: 'Cinzel';
	src: url('fonts/Cinzel-Bold.ttf') format('truetype');
	font-weight: bold;
}

.msu-button {
	border-image-source: url('gfx/button/default.png');
	border-image-slice: 12 12 10 13 fill;
	border-image-repeat: stretch;
	border-width: 11px 12px 9px 13px;
}

.msu-button:hover {
	border-image-source: url('gfx/button/hover.png');
	text-shadow: 1px 1px #A36426, -1px -1px #000;
	color: #f0b121;
}

.msu-button:active {
	border-image-source: url('gfx/button/active.png');
	color: #f0b121;
}

.msu-button:disabled {
	border-image-source: url('gfx/button/disabled.png');
	color : #a7a7a7;
	text-shadow: none;
}

.normal-font {
	font-family: 'FreeUniversal';
	color: #dda21f;
}

.info-panel {
	border-image-source: url('gfx/info_panel.png');
	border-image-slice: 0 95 0 95 fill;
	border-image-repeat: stretch;
	border-width: 0 95px 0 95px;
}

.title-font {
	user-select: none;
	font-family: 'Cinzel', monospace;
	color: #dda21f;
	text-shadow: 2px 2px rgba(0, 0, 0, 128), -2px -2px #000;
	font-weight: bold;
}



