body, html {
	background-color: #111216;
	height: 100%;
	width: 100%;
	margin: 0;
}

#main {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background: url('assets/gfx/background.png')
}

#links {
	width: 400px;
	text-align: left;
	font-size: x-large;
	color: white;
	display: flex;
	flex-direction: column;
}

#links a {
	color: white;
	text-decoration: none;
	margin-top: 20px;
	margin: 10px;
	border: white 1px solid;
	border-radius: 5px;
	padding: 10px;
}

#links a:hover {
	background-color: #1f1f1f;
	cursor: pointer;
}

#header {
	max-width: 1200px;
}

@font-face{
	font-family: 'FreeUniversal';
	src: url('assets/gfx/fonts/FreeUniversal-Regular-edited.ttf') format('truetype');
}

@font-face{
	font-family: 'Cinzel';
	src: url('assets/gfx/fonts/Cinzel-Regular.ttf') format('truetype');
}

@font-face{
	font-family: 'Cinzel';
	src: url('assets/gfx/fonts/Cinzel-Bold.ttf') format('truetype');
	font-weight: bold;
}

.msu-button {
	border-image-source: url('assets/gfx/button/default.png');
	border-image-slice: 8 10 11 9 fill;
	border-image-repeat: stretch;
	border-width: 8px 10px 11px 9px;
}

.msu-button:hover {
	border-image-source: url('assets/gfx/button/hover.png');
	text-shadow: 1px 1px #A36426, -1px -1px #000;
	color: #f0b121;
}

.msu-button:active {
	border-image-source: url('assets/gfx/button/active.png');
	color: #f0b121;
}

.msu-button:disabled {
	border-image-source: url('assets/gfx/button/disabled.png');
	color : #a7a7a7;
	text-shadow: none;
}

.normal-font {
	font-family: 'FreeUniversal';
	color: #dda21f;
}

.info-panel {
	border-image-source: url('assets/gfx/info_panel.png');
	border-image-slice: 0 95 0 95 fill;
	border-image-repeat: stretch;
	border-width: 0 95px 0 95px;
}

.title-font {
	font-family: 'Cinzel', monospace;
	color: #dda21f;
	text-shadow: 2px 2px rgba(0, 0, 0, 128), -2px -2px #000;
	font-weight: bold;
}



